<!DOCTYPE html>
<html lang="en">

{% include 'header.html' %}

<body>

{% include 'navbar.html' %}

<div class="container">
    <table class="table is-striped is-narrow is-fullwidth">
        <thead>
        <tr>
            <th>Name</th>
            <th>IP</th>
            <th>Switch</th>
        </tr>
        </thead>
        <tbody>
        {% for key, values in lights.items %}
            <tr>
                <td>{{ values.name }}</td>
                <td>{{ values.ip }}</td>
                <td>
                    <div class="field">
                        <input id="{{ values.ip }}" type="checkbox" name="switch" class="switch" checked="checked">
                        <label for="{{ values.ip }}"></label>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>