<nav class="navbar is-info">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
        <h5 class="title is-5" style="color:white;">DIY Domotica App</h5>
    </a>
    <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href={% url 'home' %}>
        Overview
      </a>
      <a class="navbar-item" href={% url 'add_light' %}>
        Add lights
      </a>
    </div>
  </div>
</nav>